<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    {% include 'MainApp/widgets/header.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

</head>

<body>

{% include 'MainApp/widgets/nav_bar.html' %}
{% include 'MainApp/widgets/side_bar.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% block content %}
            {% endblock content %}
            {% block image_block %}
            {% endblock %}
            {% block additional_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}



{% block script %}
{% endblock %}


</body>

</html>
