{% extends 'MainApp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form action="/load-file" method="post" id="add_user_form"
              enctype="multipart/form-data" {% if users_added %}
              hidden {% endif %}>
            {% csrf_token %}
            <h4>Input Groups</h4>
            <div class="input-group col-xs-4">
                <label class="input-group-btn">
                      <span class="btn btn-primary">
                          Browse&hellip; <input type="file"
                                                style="display: none;"
                                                name="my_file"
                                                accept="application/json">
                      </span>
                </label>
                    <input name="file_name" type="text" class="form-control" readonly>

                </div>
            <span class="help-block">
                  Only .json file!
              </span>
            <input type="submit" value="Upload" class="btn btn-success"/>
        </form>
    </div>

    <script src="{% static 'js/upload_file.js' %}">

    </script>

{% endblock %}