{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description"
      content="Look up details about certain artist.">
<meta name="author" content="Hari Dahal">
<link rel="icon"
      href="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/536bdcefe4b03580f8f6bb16/1399577848961/hbosiliconvalleypiedpiperoldlogo">

<title>
    The Pied Piper
</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<!-- Custom styles for this template -->
<link href="{% static 'css/dashboard.css' %} " rel="stylesheet">