<div class="col-sm-3 col-md-2 sidebar">

    <ul class="nav nav-sidebar">
        <li {% if current == 'Homepage' %} class="active" {% endif %}><a href="/">Homepage<span
                class="sr-only">(current)</span></a></li>

        <li {% if current == 'UsageGuide' %} class="active" {% endif %}><a href="/usage-guide">Usage Guide</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li {% if current == 'LoadFile' %} class="active" {% endif %}><a href="/load-file">Load File</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li>
            <img src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/536bdcefe4b03580f8f6bb16/1399577848961/hbosiliconvalleypiedpiperoldlogo" width="220" height="250" style="padding-left: 10px">
        </li>

    </ul>

</div>